---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Benefits from '../components/Benefits.astro';
import Features from '../components/Features.astro';
import Resources from '../components/Resources.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="K-FLOW PUCP - Sistema Automatizado de Sustentación de Tesis">
	<Header />
	<main>
		<Hero />
		<Benefits />
		<Features />
		<Resources />
		<Contact />
	</main>
	<Footer />
</Layout>

<style>
	html {
		scroll-behavior: smooth;
	}
</style>
